.img-camara{
	height: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.7fr;
  grid-template-areas: "." ".";
}

.btn-list{
	grid-row: 2;
	margin: 35px;
}

.flex-container{
	display: flex;
	justify-content: center;
}

