<!--div class="grid-container">
	
	<section class="login__section">
	  
	  <div class="login__card">
	    	<button>Idioma logito de bandera</button>
	    	<button>Tema logito de colores</button>
	  </div>
	  
	</section>

	<section class="login__section">
	  
	  <div class="login__card">
	  </div>
	  
	</section>

</div-->


<div class="grid-container">
	<!-- 
  <div class="Options">
	 <button id="tema"><img class="img-btn" src="./assets/images/editar.svg" alt=""></button>
	 <div></div>
  </div>
	 -->
  	<button *ngIf="bandera" id="idioma-esp" (mousedown)="cambiarIdioma(bandera)"><img class="img-btn" src="./assets/images/argentina.svg" alt=""></button>
  	<button *ngIf="!bandera" id="idioma-ing" (mousedown)="cambiarIdioma(bandera)"><img class="img-btn" src="./assets/images/estados-unidos.svg" alt=""></button>
  	<button id="colores" (click)="reproducirAudio('colores')" routerLink="juego"><img class="img-btn" src="./assets/images/colores.svg" alt=""></button>
   	<button id="numeros" (click)="reproducirAudio('numeros')" routerLink="juego"><img class="img-btn" src="./assets/images/numero.svg" alt=""></button>
	<button id="animales" (click)="reproducirAudio('animales')" routerLink="juego"><img class="img-btn" src="./assets/images/delfin.svg" alt=""></button>
</div>

<router-outlet></router-outlet>
