<div class="grid-container">

  	<button id="boton1" (click)="reproducirAudio('btn1')"><img id="img-btn1" class="img-btn" src="{{img_source1}}"></button>

  	<button id="boton2" (click)="reproducirAudio('btn2')"><img id="img-btn2" class="img-btn" src="{{img_source2}}" alt=""></button>

  	<button id="boton3" (click)="reproducirAudio('btn3')"><img id="img-btn3" class="img-btn" src="{{img_source3}}" alt=""></button>

   	<button id="boton4" (click)="reproducirAudio('btn4')"><img id="img-btn4" class="img-btn" src="{{img_source4}}" alt=""></button>

	<button id="boton5" (click)="reproducirAudio('btn5')"><img id="img-btn5" class="img-btn" src="{{img_source5}}" alt=""></button>

</div>